h1#welcome{
  text-align: center;
  color: rgb(117, 115, 102);
  font-family: Terraria;
}
img#logo{
  display: block;
  margin: auto;
  width: 600px;
  height: 200px;
}
p#welcome{
  text-align: center;
  color: rgb(223, 179, 36);
}
