h1#welcome{
  text-align: center;
  color: rgb(117, 115, 102);
  font-family: 'Terraria', sans-serif;
}
img#logo{
  display: block;
  margin: auto;
}
p#welcome{
  text-align: center;
  color: rgb(223, 179, 36);
}
@font-face {
  font-family: 'Terraria';
  src: url('Terraria.TTF') format('truetype');
}

p {
  font-family: 'Terraria', sans-serif;
}
select {
  display: block;
  margin: auto;
}
input {
  display: block;
  margin: auto;
}
p>a {
  font-family: 'Terraria', sans-serif;
  text-align: center;
}